body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-2736499.jpg&fm=jpg")
     
  }
 
  h1 {
    text-align: center;
  }
  
  form {
    margin: 20px;
    padding: 20px;
    border: 5px solid   grey;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  button[type="reset"] {
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="reset"]:hover {
    background-color: #ff0000;
  }
  
  ul {
    margin: 20px;
    padding: 0;
    list-style: none;
  }
  
  .task {
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid #655a5a;
    border-radius: 5px;
  }
  
  .post h3 {
    margin-top: 0;
  }
  
  .post p {
    margin-bottom: 0;
  }
  
  